* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    border: 1px solid transparent; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    border-radius: 15px;
    width: 30%;
    height: auto;
}

/* header */

header {
    display: flex;              
    align-items: center;        
    justify-content: space-between; 
    padding: 10px 10px 0;
    margin-bottom: 30px;
}

header h1 {
    flex: 1;                    
    text-align: center;         
    font-size: 22px;
}

header img {
    width: 20px;                
    height: auto;
}

/* secci贸n agregar tareas */

.agregarTareas {
    display: flex;
    justify-content: center;
    border: 1px solid transparent; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    margin: 0 10px 30px;
    border-radius: 5px;
    padding: 15px;
}

.agregarTareas form {
    width: 100%;
}

.agregarTareas label {
    display: block;       
    font-size: 15px;
    margin-bottom: 0.5rem; 
}

/* input + bot贸n alineados */
.input-group {
    display: flex;
    flex-wrap: nowrap; /* evita que el bot贸n baje */
    gap: 10px;
}

.input-group input {
    flex: 1;                          
    width: clamp(10rem, 80%, 26rem);  
    height: 2rem;
    border-radius: 5px;
    border: 1px solid;
    box-sizing: border-box;
}

.input-group button {
    flex-shrink: 0;   
    height: 2rem;
    width: 4rem;
    border-radius: 5px;
    border: 1px solid;
    background-color: #2D5A27;
    color: white;
}

.input-group button:hover {
    background-color: #327a28;
}

/* Mis tareas */

h2 {
    font-size: 20px;
    margin: 0 10px;
    margin-bottom: 30px;
}

.tareas li {
    border: 1px solid transparent; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    border-radius: 5px;
    margin: 0 10px 0px;
    display: flex;
    justify-content: space-between;
}

.tareas {
    margin-bottom: 20px;
}

.tareas ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tarea-info {
  display: flex;          /* activa flexbox */
  align-items: center;    /* alinea verticalmente */
  gap: 8px;               /* separaci贸n entre checkbox y span */
}



/* aside */

aside {
    margin-bottom: 30px;
    padding: 10px;
}
